<div class="jumbotron">
  <h2>> ShipsGame <</h2>
  <p>
    The goal of the game is simple: <strong>annihilate all ships of your opponent before he does</strong>!
    Game status will always take one of four values: <em>pending</em> (waiting for someone to join),
    <em>deployment</em> (putting your ships on the game board), <em>started</em> (players shoot by turns)
    and <em>ended</em> (sounds like someone has won, huh?). Each player takes turn until he misses, first attack
    order is random. You can create new battle room, join someone else's or challenge specific player if only
    he's <span style="font-weight: bold; color: green;">online</span>. <strong>Have fun</strong>!
  </p>
</div>

<div id="gameboards_image">
  <%= image_tag "gameboards.png", width: 600 %>
</div>
