<h2>Ships game</h2>

<% if !user_signed_in? %>
  <h4>Please sign in or create new account</h4>

  <p>
    <%= link_to "Sign in", new_user_session_path %>
    <br>
    <%= link_to "Create new account", new_user_registration_path %>
  </p>
<% else %>
  <h4>Welcome on the site, <%= current_user.email %></h4>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>
