<% @status_color = { "pending" => "#009900", "deployment" => "#001866", "started" => "#001866",
    "ended" => "#990033" } %>

<div id="games_list">
  <table class="table table-condensed">
    <tr class="danger">
      <th class="col-md-2">Game ID</th>
      <th class="col-md-3">Players</th>
      <th class="col-md-2">Status</th>
      <th class="col-md-2"></th>
      <th class="col-md-3">Created</th>
    </tr>
    <%= render @games %>
  </table>
  <%= will_paginate @games %>
</div>
