<% @status_color = { "pending" => "#009900", "deployment" => "#001866", "started" => "#001866",
    "ended" => "#990033" } %>

<div id="games_list">
  <table class="table table-condensed">
    <tr class="danger">
      <th>Game ID</th>
      <th>Players</th>
      <th>Status</th>
      <th></th>
      <th>Created</th>
    </tr>
    <%= render @games %>
  </table>
  <%= will_paginate @games %>
</div>
